body{
    margin: 0px;
    padding: 0px;
}
.wrap {
    min-width: 100%;
}
.container{
    max-width: 100%;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-around;
}
section {
    width     : 33, 3%;
    /* display: block; */
    cursor    : pointer;
}

ul {
    /* list-style: none; */
    padding: 0;
}

li {
    display   : list-item;
    list-style: none;
}

button {
    background-color: #4CAF50;
    color           : white;
    padding         : 5px 10px;
    margin: 10px 5px;
    cursor          : pointer;
    border          : none;
}
.subtitle {
    display: none;
    color: rgb(1, 120, 1)
}
.btn {
    display: none;
}

.order-user {
    background-color: #e58d8d;
}

#form {
    background-color: #c6e6c7;
    max-width       : 550px;
    margin-top      : 20px;
    display         : none;
}

#signup {
    max-width: 550px;
}

input,
textarea,
label,
select {
    left         : 20px;
    margin-top   : 10px;
    margin-bottom: 15px;
}

#city {
    margin-top   : 5px;
    margin-bottom: 15px;
}

table,
td,
th {
    border-collapse: collapse;
    margin-top     : 20px;
}

table {
    display: none;
}

table,
td,
th {
    border: 1px solid black;
}

.error-message {
    color    : red;
    font-size: 16px;
}

.info-order {
    text-align: center;
    color     : rgb(3, 87, 3);
    max-width : 100%;
}

#orderInfo {
    margin-top: 10px;
}

#orderInfo,
table {
    border-collapse: collapse;
}

#orderInfo th,
#orderInfo td,
.info-order {
    padding: 8px;
    border : 1px solid #ccc;
}

#orderInfo,
th {
    color: #4CAF50;
}

#orderInfo,
thead {
    background-color: #f2f2f2;
}

#orderInfo,
h2 {
    font-size    : 24px;
    font-weight  : bold;
    margin-bottom: 10px;
}