.wrap{
    display: flex;
    justify-content: space-around;
}
section{
    width: 33,3%;
    /* display: block; */
    cursor: pointer;
}

ul{
    /* list-style: none; */
    padding: 0;
}
li{
    display: list-item;
    list-style: none;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}